<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
  <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
  <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/employee</property>-->
  <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
  <property name="hibernate.connection.url">jdbc:oracle:thin:@89.108.84.144:1521:BPM8</property>
  <property name="hibernate.connection.username">test_a</property>
  <property name="hibernate.connection.password">test_a</property>
  <property name="hibernate.connection.pool_size">1</property>
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
  <property name="current_session_context_class">thread</property>
  <property name="hibernate.enable_lazy_load_no_trans">true</property>

  <!--<property name="hbm2ddl.auto">update</property>-->

  <mapping class="ru.ts.bestteam.entityobjects.Employee"/>
  <mapping class="ru.ts.bestteam.entityobjects.Department"/>
  <mapping class="ru.ts.bestteam.entityobjects.Certificate"/>
  <mapping class="ru.ts.bestteam.entityobjects.Grade"/>
  <mapping class="ru.ts.bestteam.entityobjects.Position"/>

</session-factory>
</hibernate-configuration>
